<h1>Tarefas concluídas</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Tarefa</th>
        <th>Empresa</th>
        <th>Data de vencimento</th>
    </tr>

<% @ativo_concluidas.each do |f| %>
    <tr>
        <td> <%= f.tarefa.nomeTarefa %> </td>
        <td> <%= f.empresa.nomeEmpresa %> </td>
        <td> <%= f.dataVencimentoTarefa %> </td>
        <td> <%= link_to "Desfazer", action: "desfazer_ativo", id: f %> </td>
    </tr>
<% end %>
</table>
