<h1>Tarefas Pendentes da Folha de Pagamento</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Tarefa</th>
        <th>Empresa</th>
        <th>Data de vencimento</th>
    </tr>

<% @folha_pendentes.each do |f| %>
    <tr>
        <td> <%= f.tarefa.nomeTarefa %> </td>
        <td> <%= f.empresa.nomeEmpresa %> </td>
        <td> <%= f.dataVencimentoTarefa %> </td>
        <td> <%= link_to "Concluir", action: "concluir_folha", id: f %> </td>
    </tr>
<% end %>
</table>
