<h1>Tarefas Pendentes de Pagamento/Recebeminto</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Tarefa</th>
        <th>Empresa</th>
        <th>Data de vencimento</th>
    </tr>

<% @pagamento_recebimento_pendentes.each do |f| %>
    <tr>
        <td> <%= f.tarefa.nomeTarefa %> </td>
        <td> <%= f.empresa.nomeEmpresa %> </td>
        <td> <%= f.dataVencimentoTarefa %> </td>
        <td> <%= link_to "Concluir", action: "concluir_pagamento_recebimento", id: f %> </td>
    </tr>
<% end %>
</table>
