<%= stylesheet_link_tag    'empresa' %>

<h3>Novo Departamento</h3>
<%= form_tag :action => "create" do %>
    Nome do departamento: <%= text_field :departamento, :nomeDepartamento %> <br/>
    <%= submit_tag "Criar" %>
<% end %>