<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <link rel = "stylesheet" type="text/css" href="index.css">
    <title>Home</title>

</head>

<body>

    <div id="container-cabecalho">
        
        <div id="logo">
            <%= image_tag("AVG Branco", height: 80, width: 140)%> 
        </div>
        
        <div id="login-cabecalho">
            <a href="">Home</a>
            <a href="">Sobre nós</a>
            <a href="">Contato</a>
            <%= link_to 'Área do colaborador', users_backoffice_welcome_index_path%>
            <%= link_to 'Área do gestor', admins_backoffice_welcome_index_path%>
        </div>
    </div>

    <div class="area-parallax">

        <div class="titulo-parallax">
            Acessível, <br>
            Prático, <br>
            Moderno
        </div>

        <div class="imagem-parallax">
            <%= image_tag("AVG Colorido", height: 320, width: 560)%>
        </div>

    </div>

    <div class="conteudo">
        <h1>30 ANOS DE TRADIÇÃO</h1>
        <p>Nosso serviço veio com a ideia de trazer mais controle das rotinas de seu escritório trazendo
        um resumo de situações de todas as tarefas, com agilidade e simplicidade, visando
        maior rendimento de todos os colaboradores.</p>
    </div>

    <div id="rodape">
        Todos os direitos reservados, 2019.
    </div>
    
</body>

</html>