<h1>Histórico</h1>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tr>
            <th>Email</th>
            <th>Ação</th>

    <% @tarefa.each do |t| %>
        <tr>
            <td> <%= t.email %> </td>
            <td> <%= t.acao %> </td>
    <% end %>
    </table>

</div>

<%=link_to("Voltar", :back, class: "btn btn-primary btn-sm")%>
