<h1>Empresa</h1>

<p>
    <b>Nome: </b>
    <%= @empresa.nomeEmpresa %>
</p>

<p>
    <b>CNPJ: </b>
    <%= @empresa.cnpjEmpresa %>
</p>

<p>
    <b>Status: </b>
    <%= @empresa.statusEmpresa %>
</p>

<br>

<%= link_to "Voltar", action: "index"%>