// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #C0C0C0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
}

p {
  font-size: 1.5em;
  text-align: center;
}

h1 {
  padding: 10px;
  text-align: center;
}

#logo {
  position: absolute;
}

#container-cabecalho {
  background: #006eb8;
  height: 80px;
  padding: 0px 40px;
}

#login-cabecalho {
  float: right;    
  padding: 30px 10px;
}

#login-cabecalho a {
  text-decoration: none;
}

#login-cabecalho a:link, a:visited, a:active  {
  color: #fcfcfc;
  padding: 30px 10px;
}

#login-cabecalho a:hover{
  color: rgb(3, 3, 3);
  background: #ffffff;
  padding: 20px 10px ;
}

img.centralizada {
  display: block;
  margin: 0 auto;
}

.area-parallax {
  background-image: url(asset_path("Estatisticas.jpg"));
  position: relative;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.titulo-parallax {
  color: #006eb8;
  font-size: 7em;
  position: absolute;
  font-weight: 800;
  left: 5%;
  top: 10%; 
}

.imagem-parallax {
  position: absolute;
  left: 55%;
  top: 10%;
}

.conteudo {
  color: #777;
  background-color: rgb(241, 241, 241);
  text-align: justify;
  padding: 50px 80px;
}

#rodape {
  font-size: 0.8em;
  text-align: center;
  color: white;
  background: #006eb8;
  height: 40px;
  padding-top: 10px;
}