<h1>Nova tarefa</h1>

<%= form_tag :action => "create" do %>
    Nome da tarefa: <%= text_field :tarefa, :nomeTarefa %> <br>
    <%= collection_select(:tarefa, :departamento_id, Departamento.all, :id, :nomeDepartamento, { include_blank: "Selecione o departamento" }) %> <br>
    <%= submit_tag "Criar" %>
<% end %>